body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(242, 242, 242);
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 70%;
  /* height:89vh; */
  margin: auto;
  padding-top: 25px;
  display: flex;
  flex-direction: row;

}

.container1 {
  width: 70%;
  /* height:89vh; */
  margin: auto;
  padding-top: 25px;
  display: flex;
  flex-direction: row;

}

.paddingcont {
  margin-bottom: 25vh;
}

.navtags {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-Content: space-evenly;
}

.left_container {
  width: 70%;
  height: 88vh;
  overflow-y: scroll;
  border-radius: 12px;
}

.right_container {
  width: 30%;
  height: 88vh;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hoverbtn:hover {
  background-color: rgb(243, 243, 243);
}

.bottomnavbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  z-index: 999;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottomnav {
  margin: auto;
  width: 80%;
  height: 55px;
  z-index: 999;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
}

.filter {
  width: 30%;
  background-color: white;
  height: 45px;
  border-radius: 9px;
  margin-bottom: -9px;
  margin-right: 15px
}

.searchbar {
  width: 70%;
  background-color: white;
  height: 45px;
  border-radius: 9px;
  margin-bottom: -9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}


.userdetails {
  width: 70%;
  background: white;
  border-radius: 9px;
  padding: 7px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftfollowers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly
}

.justcol {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width:1015px) {
  .container1 {
    width: 90%;
    margin: auto;
    padding-top: 25px;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 20px;

  }

  .container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .left_container {
    width: 100%;
    height: fit-content;
    overflow-y: scroll;
    border-radius: 12px;
  }

  .right_container {
    width: 100%;
  }

  .homehide {
    display: none;
  }

  .filter {
    width: 100%;
  }

  .searchbar {
    width: 100%;
  }

}

@media screen and (min-width:675px) {
  .bottomnav {
    display: none;
  }

  .bottomnavbar {
    display: none;
  }
}

@media screen and (max-width:675px) {
  .userdetails {
    display: flex;
    flex-direction: column;
  }

  .profilename {
    margin-left: -45px;
    margin-bottom: -2px;
  }

  .rightfollowbtn {
    margin-right: 29px;
  }

  .leftfollowers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
  }

  .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
  }

  .container1 {
    width: 95%;
    margin: auto;
    padding-top: 25px;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 20px;

  }

  .App {
    height: 90.5vh;
    overflow: scroll;
    border-radius: 9px;
  }

  .tags {
    display: none;
  }

  body {
    height: 100vh;
    overflow: hidden;
  }

  .navbar {
    padding-left: 1.25%;
    padding-right: 0.05%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .parahide {
    display: none;
  }
}

@media screen and (max-width:490px) {
  .parahideaction {
    display: none;
    margin-left: 0;
  }
}

@media screen and (max-width:490px) {

}