body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;

  font-family: 'Poppins', sans-serif;
  
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container {
  width: 70%;
  /* height:89vh; */
  margin: auto;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
}

.container1 {
  width: 70%;
  /* height:89vh; */
  margin: auto;
  padding-top: 25px;
  display: flex;
  flex-direction: row;

}

.paddingcont {
  margin-bottom: 25vh;
}

.navtags {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-Content: space-evenly;
}

.left_container {
  width: 70%;
  height: 88vh;
  overflow-y: scroll;
  border-radius: 12px;
}

.right_container {
  width: 30%;
  margin-bottom: 12px;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hoverbtn:hover {
  background-color: rgb(59, 62, 65);
}
*::placeholder{
  color: rgb(218, 218, 218);
}

.bottomnavbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  z-index: 999;
  background-color: rgb(33 35 36);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottomnav {
  margin: auto;
  width: 80%;
  height: 55px;
  z-index: 999;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
}

.filter {
  width: 30%;
  background-color: rgb(33 35 36);
  height: 45px;
  border-radius: 9px;
  margin-bottom: -9px;
  margin-right: 15px
}

.searchbar {
  width: 70%;
  background-color: rgb(33 35 36);
  height: 45px;
  border-radius: 9px;
  margin-bottom: -9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}


.userdetails {
  width: 70%;
  background: rgb(33 35 36);
  border-radius: 9px;
  padding: 7px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color:rgb(218, 218, 218)
}

.leftfollowers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly
}

.justcol {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width:1015px) {
  .container1 {
    width: 90%;
    margin: auto;
    padding-top: 25px;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 20px;

  }

  .container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .left_container {
    width: 100%;
    height: fit-content;
    overflow-y: scroll;
    border-radius: 12px;
  }

  .right_container {
    width: 100%;
  }

  .homehide {
    display: none;
  }

  .filter {
    width: 100%;
  }

  .searchbar {
    width: 100%;
  }

}

@media screen and (min-width:675px) {
  .bottomnav {
    display: none;
  }

  .bottomnavbar {
    display: none;
  }
}

@media screen and (max-width:675px) {
  .userdetails {
    display: flex;
    flex-direction: column;
  }

  .profilename {
    margin-left: -45px;
    margin-bottom: -2px;
  }

  .rightfollowbtn {
    margin-right: 29px;
  }

  .leftfollowers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
  }

  .container1 {
    width: 95%;
    margin: auto;
    padding-top: 25px;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 20px;

  }

  .App {
    height: 89vh;
    overflow: scroll;
    border-radius: 9px;
    z-index:99
  }
  .tags {
    display: none;
  }

  body {
    height: 100vh;
    overflow: hidden;
  }

  .navbar {
    padding-left: 1.25%;
    padding-right: 0.05%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .parahide {
    display: none;
  }
}

@media screen and (max-width:490px) {
  .parahideaction {
    display: none;
    margin-left: 0;
  }
}

@media screen and (max-width:490px) {

}
