body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(242,242,242);
  font-family: 'Poppins', sans-serif;

}
.container{
  width: 70%;
  /* height:89vh; */
  margin: auto;
  padding-top: 25px;
  display: flex;
  flex-direction: row;

}
.left_container{
  width:70%;
  height:88vh;
  overflow-y: scroll;
  border-radius: 12px;
}
.right_container{
  width:30%;
  height:88vh;
}
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}